In [63]:
# Cheese, a little league baseball player in the Negro League Classic tournament is trying
# to understand how many times each team will play each other during the regulary season; 
# assumming each time will play each other one time.  If there are 6 teams in the league, how 
# many games will be played in total.

In [64]:
# Import dependencies
from ast import literal_eval
import csv
import pandas as pd
from permutation_and_combinations.combinatorics import COMBINATION, combination, combinatorics_list

In [65]:
# Read in data
teams_file = csv.DictReader(open("permutation_and_combinations/data/teams.csv"))

In [66]:
# Total games played in teams in the Negro League Classic tournament
teams = []
r = 2

for row in teams_file:
    teams.append(row)

team_ids = [team["id"] for team in teams]

In [67]:
games = combinatorics_list(team_ids, r, algo=COMBINATION)
print(f"Total number of teams in the {len(games)}")

Total number of teams in the 15

In [114]:
def get_team_name(id: int):
    try:
        return teams[int(id) - 1].get('name')
    except Exception as e:
        print(e)
        return "Unknown Team Name"

In [115]:
games_df = pd.DataFrame(games, columns =['Team A', 'Team B'])

In [116]:
games_df

   Team A Team B
0       3      6
1       1      4
2       2      3
3       2      6
4       2      5
5       3      5
6       5      6
7       2      4
8       3      4
9       4      6
10      4      5
11      1      6
12      1      2
13      1      3
14      1      5

In [117]:
games_df["Team A"] = games_df["Team A"].apply(get_team_name)
games_df["Team B"] = games_df["Team B"].apply(get_team_name)

In [113]:
# Regular Season Schdule
games_df

               Team A                Team B
0        Avengers 11U  Pittsburgh Crawfords
1   South Side Hammer          Avengers 12U
2     Homestead Grays          Avengers 11U
3     Homestead Grays  Pittsburgh Crawfords
4     Homestead Grays     Buena Vista Grays
5        Avengers 11U     Buena Vista Grays
6   Buena Vista Grays  Pittsburgh Crawfords
7     Homestead Grays          Avengers 12U
8        Avengers 11U          Avengers 12U
9        Avengers 12U  Pittsburgh Crawfords
10       Avengers 12U     Buena Vista Grays
11  South Side Hammer  Pittsburgh Crawfords
12  South Side Hammer       Homestead Grays
13  South Side Hammer          Avengers 11U
14  South Side Hammer     Buena Vista Grays