In [1]:
# Cheese, a little league baseball player in the Negro League Classic tournament is trying
# to understand how many times each team will play each other during the regulary season; 
# assumming each team will play each other one time.  If there are a total of 6 teams in the league, how 
# many games will be played in total?

In [2]:
# Import dependencies
import csv
import pandas as pd
from permutation_and_combinations.combinatorics import COMBINATION, combination, combinatorics_list

In [3]:
# Read in data
teams_file = csv.DictReader(open("permutation_and_combinations/data/teams.csv"))

In [4]:
# Total games played in teams in the Negro League Classic tournament
teams = []
r = 2

for row in teams_file:
    teams.append(row)

team_ids = [team["id"] for team in teams]

In [5]:
games = combinatorics_list(team_ids, r, algo=COMBINATION)
print(f"Total number of games played is {len(games)}.")

Total number of games played is 15.

In [6]:
def get_team_name(id: int):
    try:
        return teams[int(id) - 1].get('name')
    except Exception as e:
        return "Unknown Team Name"

In [7]:
games_df = pd.DataFrame(games, columns=['Team A', 'Team B'])

In [8]:
games_df

   Team A Team B
0       3      5
1       4      6
2       1      6
3       2      4
4       2      6
5       4      5
6       1      3
7       3      4
8       3      6
9       2      3
10      1      5
11      5      6
12      2      5
13      1      2
14      1      4

In [9]:
games_df["Team A"] = games_df["Team A"].apply(get_team_name)
games_df["Team B"] = games_df["Team B"].apply(get_team_name)

In [10]:
# Regular Season Schedule
games_df

               Team A                Team B
0        Avengers 11U     Buena Vista Grays
1        Avengers 12U  Pittsburgh Crawfords
2   South Side Hammer  Pittsburgh Crawfords
3     Homestead Grays          Avengers 12U
4     Homestead Grays  Pittsburgh Crawfords
5        Avengers 12U     Buena Vista Grays
6   South Side Hammer          Avengers 11U
7        Avengers 11U          Avengers 12U
8        Avengers 11U  Pittsburgh Crawfords
9     Homestead Grays          Avengers 11U
10  South Side Hammer     Buena Vista Grays
11  Buena Vista Grays  Pittsburgh Crawfords
12    Homestead Grays     Buena Vista Grays
13  South Side Hammer       Homestead Grays
14  South Side Hammer          Avengers 12U